<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.9, shrink-to-fit=no">
  <title>Archyevents Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>
  <div class="container-scroller" id="app">
    <div class="modal fade" role="dialog" id="add-service-modal">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <form method="post" action="/services" enctype="multipart/form-data">
            <div class="modal-header">
              <h4>Add new service</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12">
                  <fieldset>
                    <legend>Basic details</legend>
                    <input type="text" placeholder="Service Title" class="form-control custom-textfield" name="title">
                    <input type="text" placeholder="One liner heading" class="form-control custom-textfield"
                      name="heading">
                  </fieldset>
                  <hr class="hr-dotted">
                  <label>Services <i class="mdi mdi-plus-circle mdi-32px pull-right" style="color: #cd79db; cursor: pointer"
                      v-on:click="AddNewService('add');"></i></label>
                  <div class="add-service-details">

                  </div>
                  <input type="hidden" value="0" id="num-of-services" name="numServices">
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <input type="submit" value="submit" class="btn btn-success">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" role="dialog" id="edit-service-modal">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              Edit Service
            </div>
            <form method="post" action="updateService" enctype="multipart/form-data">
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12">
                  <fieldset>
                    <legend>Basic details</legend>
                    <input type="text" placeholder="Service Title" class="form-control custom-textfield" name="edit_title" v-model="openedServiceList.title">
                    <input type="text" placeholder="One liner heading" class="form-control custom-textfield" name="edit_heading" v-model="openedServiceList.heading">
                  </fieldset>
                  <hr class="hr-dotted">
                  <label>Services <i class="mdi mdi-plus-circle mdi-32px pull-right" style="color: #cd79db; cursor: pointer"
                      v-on:click="AddNewService('edit');"></i></label>
                  <div class="edit-service-list">
                  </div>
                  <input type="hidden" value="0" id="num-of-services-to-edit" name="numServicesEdit">
                  <input type="hidden" id="serviceID" name="serviceID">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger btn-sm edit-button">Cancel</button>
              <button class="btn btn-primary btn-sm edit-button" type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <navbar></navbar>
    <div class="container-fluid page-body-wrapper">
      <sidebar></sidebar>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row" style="margin-bottom:1em">
              <div class="col-lg-6">
                <h3>Manage Services</h3>
              </div>
            <div class="col-lg-6">
              <i class="mdi mdi-plus-circle mdi-48px pull-right" data-toggle="modal" data-target="#add-service-modal"
                style="color: #b66dff"></i>
            </div>
          </div>
          <!-- cards -->
          <div class="row" v-if="allServiceList.length !=0">
            <div class="col-lg-4 card" v-for="service in allServiceList" style="border:5px solid #f9f9f9">
              <img class="card-img-top custom-card-image" v-if="service.services.length > 0" v-bind:src="'/appimages/'+service.services[0].image"
                alt="Card image cap">
              <div class="card-body custom-card-body">
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="card-title">{{service.title}}</h4>
                  </div>
                  <div class="col-md-12">
                    <small class="card-text">{{service.heading}}</small>
                  </div>
                  <div class="col-md-12" style="margin-top:1.5rem">
                    <button class="btn btn-danger btn-sm edit-button"
                      v-on:click="DeleteService(service._id)">Delete</button>
                    <button class="btn btn-primary btn-sm edit-button"
                      v-on:click="GetServiceById(service._id)">Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" v-if="allServiceList.length <=0">
            <div class="container text-center empty-state-container">
              <img src="/assets/no-data.png">
              <h3>No services</h3>
              <p>
                Start adding services from the add button to the right.
              </p>
            </div>
          </div>
        </div>

        <!-- content-wrapper ends -->
        <foot></foot>
      </div>
    </div>
  </div>
  <script src="static/vendors/js/vendor.bundle.base.js"></script>
  <script src="static/vendors/js/vendor.bundle.addons.js"></script>
  <script src="static/js/off-canvas.js"></script>
  <script src="static/js/misc.js"></script>
  <script src="https://unpkg.com/vue@2.6.8/dist/vue.js"></script>
  <script src="static/js/custom.js"></script>
  <script src="static/js/common.js"></script>
  <script src="static/js/serviceFunctions.js"></script>
  <script>
  </script>
</body>

</html>