<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.9, shrink-to-fit=no">
  <title>Archyevents Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>
  <div class="container-scroller" id="app">
    <navbar></navbar>
    <div class="container-fluid page-body-wrapper">
      <sidebar></sidebar>
      <div class="main-panel">
          <div class="content-wrapper">
              <div class="row" style="margin-bottom:1em">
                <div class="col-lg-12">
                  <h3>Manage Feedbacks</h3>
                </div>
              </div>
              <!-- cards -->
              <div class="row">
                <div class="col-md-12 col-xs-12 card mb-3">
                    <div class="row">
                      <div class="col-md-12">
                        <select name="gender1" id="gender1" class="form-control">
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="others">Others</option>
                        </select>
                        <input type="text" class="form-control" name="name1" id="name1" placeholder="Name">
                        <input type="text" class="form-control" name="feedback1" id="feedback1" placeholder="Feedback">
                      </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 card mb-3">
                    <div class="row">
                      <div class="col-md-12">
                          <select name="gender2" id="gender2" class="form-control">
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                              <option value="others">Others</option>
                            </select>
                        <input type="text" class="form-control" name="name2" id="name2" placeholder="Name">
                        <input type="text" class="form-control" name="feedback2" id="feedback2" placeholder="Feedback">
                      </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 card">
                    <div class="row">
                      <div class="col-md-12">
                          <select name="gender3" id="gender3" class="form-control">
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                              <option value="others">Others</option>
                            </select>
                        <input type="text" class="form-control" name="name3" id="name3" placeholder="Name">
                        <input type="text" class="form-control" name="feedback3" id="feedback3" placeholder="Feedback">
                      </div>
                    </div>
                </div>
              </div>
              <button class="btn btn-primary mt-3 ml-0" v-if="feedbackContent.length==0" v-on:click="SaveFeedback()">Save</button>
              <button class="btn btn-primary mt-3 ml-0" v-if="feedbackContent.length !=0" v-on:click="UpdateFeedback(feedbackContent._id)">Update</button>
            </div>
       
        

        <!-- content-wrapper ends -->
        <foot></foot>
      </div>
    </div>
  </div>
  <script src="static/vendors/js/vendor.bundle.base.js"></script>
  <script src="static/vendors/js/vendor.bundle.addons.js"></script>
  <script src="static/js/off-canvas.js"></script>
  <script src="static/js/misc.js"></script>
  <script src="https://unpkg.com/vue@2.6.8/dist/vue.js"></script>
  <script src="static/js/custom.js"></script>
  <script src="static/js/common.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script src="static/js/feedbackFunctions.js"></script>
</body>

</html>