<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.9, shrink-to-fit=no">
  <title>Gallery Section</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>
<body >
  <div class="container-scroller" id="app">
      <div class="modal fade" role="dialog" id="add-gallery-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <form method="post" action="/gallery" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4>Add new story</h4>
                  </div>
                  <div class="modal-body">
                      <input type="text" placeholder="Story Title" class="form-control custom-textfield" name="story_title">
                      <select name="story_category" class="form-control custom-textfield">
                        <option value="wedding">Wedding</option>
                        <option value="birthday">Birthday parties</option>
                        <option value="graduation">Graduation</option>
                        <option value="corporate">Corporate events</option>
                        <option value="milestone">Milestone events</option>
                        <option value="charity">Charity events</option>
                        <option value="other">Other</option>
                      </select>
                      <input type="text" name="story_date" class="form-control custom-textfield" placeholder="Event Date">
                      <textarea placeholder="Some writeup.." class="form-control custom-textarea" name="story_content"></textarea>
                      <hr>
                      <small>Choose upto 10 images</small>
                      <input type="file" multiple class="form-control custom-textfield" name="story_images">      
                  </div>
                  <div class="modal-footer">
                    <input type="submit" value="submit" class="btn btn-success">
                  </div>
                </form>  
            </div>
          </div>
      </div>

      <div class="modal fade" role="dialog" id="edit-gallery-modal">
        <div class="modal-dialog">
          <div class="modal-content">
           
              <div class="modal-header">
                  Edit Gallery Story
              </div>
              <div class="modal-body">
                  <label class="text-sm-left">Title</label>
                  <input type="text" placeholder="Service Title" class="form-control custom-textfield" name="title" v-model="openedStoryList.title">

                  <label class="text-sm-left">Category</label>
                  <select name="category" class="form-control custom-textfield" v-model="openedStoryList.category">
                      <option value="wedding">Wedding</option>
                      <option value="birthday">Birthday parties</option>
                      <option value="graduation">Graduation</option>
                      <option value="corporate">Corporate events</option>
                      <option value="milestone">Milestone events</option>
                      <option value="charity">Charity events</option>
                      <option value="other">Other</option>
                  </select>

                  <label class="text-sm-left">Date</label>
                  <input type="text" placeholder="Service Title" class="form-control custom-textfield" name="title" v-model="openedStoryList.date">

                  <label class="text-sm-left">Story Content</label>
                  <textarea placeholder="Some writeup.." class="form-control custom-textarea" name="content" v-model="openedStoryList.content"></textarea>
                  
                  <div class="row image-container">
                    <div v-for="image in openedStoryList.images">
                      <img v-bind:src="'/galleryimages/'+image+'_optimized.jpg'" class="img-responsive">
                      <div class="deletion-overlay" v-on:click="AddToImageArray(image, $event);">
                        Mark for deletion
                      </div>
                      <div class="unmark-overlay hide" v-on:click="RemoveFromImageArray(image, $event);">
                         Un-mark
                      </div>

                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-danger btn-sm edit-button">Cancel</button>
                  <button class="btn btn-primary btn-sm edit-button" v-on:click="ModifyStory(openedStoryList._id);">Save</button>
              </div>
            
          </div>
        </div>
      </div>
    <navbar></navbar>
    <div class="container-fluid page-body-wrapper">
        <sidebar></sidebar>      
        <div class="main-panel">
          <div class="content-wrapper">
              <div class="row" style="margin-bottom:1em">
                  <div class="col-lg-6">
                      <h3>Manage Story Gallery</h3>
                    </div>
                <div class="col-lg-6">
                    <i class="mdi mdi-plus-circle mdi-48px pull-right"  data-toggle="modal" data-target="#add-gallery-modal" style="color: #b66dff"></i>
                </div>
              </div>
              <!-- cards -->
              <div class="row">
                <div class="col-lg-4 card" v-if="allStoryList.length !=0" v-for="story in allStoryList" style="border:5px solid #f9f9f9">
                    <img class="card-img-top custom-card-image" v-bind:src="'/galleryimages/'+story.images[0]" alt="Card image cap">
                  <div class="card-body custom-card-body">
                      <div class="row">
                        <div class="col-md-12">
                            <h4 class="card-title">{{story.title}}</h4>
                        </div>
                        
                        <div class="col-md-12" style="margin-top:1.5rem">
                            <button class="btn btn-danger btn-sm edit-button" v-on:click="DeleteStory(story._id)">Delete</button>
                            <button class="btn btn-primary btn-sm edit-button" v-on:click="GetStoryById(story._id)">Edit</button>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row" v-if="allStoryList.length <=0">
                <div class="container text-center empty-state-container">
                  <img src="/assets/no-data.png">
                  <h3>No gallery data</h3>
                  <p>
                    Start adding stories from the add button to the right.
                  </p>
                </div>
              </div>
          </div>
         
          <!-- content-wrapper ends -->
          <foot></foot>
        </div>
    </div>
  </div>
  <script src="static/vendors/js/vendor.bundle.base.js"></script>
  <script src="static/vendors/js/vendor.bundle.addons.js"></script>
  <script src="static/js/off-canvas.js"></script>
  <script src="static/js/misc.js"></script>
  <script src="https://unpkg.com/vue@2.6.8/dist/vue.js"></script>
  <script src="static/js/custom.js"></script>
  <script src="static/js/galleryFunctions.js"></script>
</body>
</html>