#content, #imgConatiner {
    background-color: #ffffff;
    padding: 50px;
}

.previousCta {
    display: inline-block;
    border: 1px solid #222;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

h2 {
    color: #505050;
    font-size: 24px;
    font-weight: 600;
    margin: 30px 0;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: #4A4A4A;
}

#imgConatiner img {
    margin-bottom: 20px;
    box-sizing: border-box;
    object-fit: cover;
    height: 250px;
    width: 400px;
    cursor: pointer;
}

div#imgConatiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0;
}
section#prevImgContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c5c5c7c7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: none;
}
img.prevImg {
    max-width: 80%;
    max-height: 90%;
}
.right,
.left {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.closeSec {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}