#owl-demo .item {
    margin: 3px;
    padding-bottom: 30px; 
}

#owl-demo .item img {
    display: block;
    width: 28%;
    height: 200px;
}

.gallerySection .title {
    margin: 60px;
}

.gallerySection .title h2 {
    font-size: 30px;
    color: #505050;
    font-weight: 600;
}

.gallerySection .title p {
    font-size: 18px;
    color: #505050;
}

.galleryImg {
    margin: 0 60px;
}

.item h3 {
    margin: 12px 0;
    font-size: 20px;
    font-weight: 600;
    color: #505050;
}

.item p {
    font-size: 12px;
    font-weight: 400;
    color: #505050;
}

.item button {
    background-color: var(--main-color);
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px 20px;
    font-weight: 400;
}