/* header */

.hamburger {
    display: none;
    width: 40px;
    padding: 2px;
    box-sizing: border-box;
    cursor: pointer;
}

.iconBar {
    display: block;
    background-color: #ffffff;
    height: 2px;
    margin: 8px 0;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 14px 20px;
    background-color: var(--main-color);
    color: #ffffff;
    z-index: 99;
}

.logo h1 {
    margin: 0;
    font-size: 20px;
    padding: 14px;
    font-weight: 600;
}

a {
    font-style: none;
}

nav {
    /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 1s;
    /* Standard syntax */
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    padding: 12px;
}

nav ul li a {
    font-size: 18px;
    color: #ffffff;
    padding: 2px;
}

nav ul li a:hover {
    color: #FFB900;
    border-bottom: 1px solid #FFB900;
    text-decoration: none;
}

.hasList {
    position: relative;
}

.navList {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: var(--main-color);
    color: #ffffff;
    width: 200px;
    padding-top: 20px;
    z-index: 99;
}

.navList a {
    font-size: 14px;
}

.hasList:hover>.navList {
    display: inline-block;
}

@media (max-width: 900px) {
    .hamburger {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .header,
    nav ul {
        flex-direction: column;
    }

    .navToggle {
        display: none;
    }

    .active {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .footerContent {
        text-align: center;
    }
}

@media only screen and (max-width: 425px) {
    .footerContent {
        flex-direction: column;
    }

    .copyright,
    .socialShare {
        padding: 10px 0 10px;
    }
}

/* header ends */
/* footer */

footer {
    background-color: var(--main-color);
    color: #ffffff;
    padding: 10px 30px;
}

.footerContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footerContent ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContent li {
    padding: 0 16px;
}

.footerContent a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

/* footer ends */