#titleBanner {
    background-image: url(/assets/marriage.jpg);
    background-origin: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#content,
#imgContainer{
    background-color: #ffffff;
    padding: 50px;
}

#content{
    padding: 50px 50px 0;
}
#content p{
    color: #4A4A4A;
    margin-bottom: 40px;
}
.imgCol img {
    width: 33.33%;
    margin-bottom: 10px;
    height: 200px; 
    width: 300px;
    margin: 2px;
    object-fit: fill;
}
section#imgContainer {
    display: flex;
    flex-direction: column;
}

.imgCol {
    width: 100%;
    margin: 10px;
}



.custom-card {
    border: 2px solid #4d3774;
    border-radius: 4px;
    box-shadow: 0 6px 11px rgb(0,0,200, 0.3);
}
.custom-card-image{
    height: auto;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

  .custom-card-body{
    padding: 1.5rem 1.5rem !important; 
  }