/* main */

#main {
    background-image: url(../assets/marriage.jpg);
    background-origin: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 84vh;
}

#main>.space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 84vh;
    background-color: #815489bd;
    flex-wrap: wrap;
    padding: 16px 60px;
}

#main>.space>.title {
    color: #ffffff;
    width: 50%;
}

#intro-heading {
    font-size: 30px;
    padding-bottom: 11px;
    font-weight: 600;
    margin: 0;
}

#main>.space>.title>p {
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 16px;
    max-width: 600px;
}

.form-control::placeholder {
    color: #AEAEAE;
    font-weight: 400;
}

textarea.form-control {
    height: auto;
}

.latestPick {
    display: inline-block;
    width: 50%;
}

.latestPick>.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 26px 10px;
    flex-wrap: wrap;
}

.latestPick img {
    background-color: #ffffff;
    border-radius: 50%;
    width: 100px;
    min-height: 100px;
}

.latestPick .desc {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 10px;
    max-width: 460px;
    text-align: justify;
    width: 100%;
}

.desc > h2{
    padding-bottom: 10px;
    font-size: 30px;
}

.desc p{
    font-size: 14px;
}

.footerContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footerContent ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContent li {
    padding: 0 16px;
}

.footerContent a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}


@media only screen and (max-width: 768px) {

    #main>.space {
        padding: 16px 30px;
    }

    #main>.space>.title {
        width: 100%;
        height: 70vh;
        text-align: center;
    }

    .title-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 300px;
    }

    #intro-heading {
        padding-bottom: 16px;
    }

    #intro-content {
        padding-bottom: 20px;
    }

    #main>.space>.title>p {
        margin: 10px auto;
    }

    .latestPick {
        margin-top: 40px;
        width: 100%;
    }

    .latestPick .desc {
        text-align: center;
        font-size: 20px;
    }

    .latestPick>.row{
        flex-direction: column;
    }

    .latestPick img {
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .latestPick>.row{
        margin-bottom: 60px;
    }

}

@media only screen and (max-width: 425px) {
    #main>.space {
        padding: 16px 20px;
    }
}

/* main ends */