/* common */

:root {
    --main-color: #4D3774;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.hide {
    visibility: hidden;
}

button {
    background: transparent;
    border: 2px solid #fff;
    padding: 10px 32px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

.overlay {
    background-color: #8154899c;
    color: #fff;
    min-height: 30vh;
    width: 100%;
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.overlay h2{
    font-size: 50px;
    font-weight: 600;
}

.overlay p{
    font-size: 18px;
    font-weight: 400;
    max-width: 40%;
    margin: 20px 0 30px;
}
.pageCta{
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.pageCta:hover{
    background-color: #fff;
    color:  var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0px 2px 6px 2px #4d3576db;
}
/* enquiry pop up */
#enquiryPopUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:#0e0e0ee6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.enquiry {
    background-color: #eeedef6b;
    color: #ffffff;
    padding: 40px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.enquiry>h2 {
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin: 0 0 30px;
}

/* enquiry pop up ends 
/* common ends*/
.enquiry .ctaBtn {
    color: #fff;
    background-color: var(--main-color);;
    text-transform: uppercase;
    border-color: var(--main-color);;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.enquiry .ctaBtn:hover{
    background-color: #fff;
    color: var(--main-color);;
} 
.form-group {
    margin-bottom: 10px;
}

.form-control {
    display: block;
    margin: 2px 0 20px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    color: #585858;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.cross {
    color: #ffffff;
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    padding: 4px 10px;
    background-color: var(--main-color);
    border-radius: 50%;
}

.main-content {
    min-height: 860px;
    overflow: hidden;
    box-sizing: border-box; 
}

#content{
    min-height: 76vh;
}

@media only screen and (max-width: 768px) {
    .enquiry{
        width: 300px;
    }

    .overlay p{
        max-width: 90%;
    }
}